<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.menu.mapper.MenuMapper">
  
  	<insert id="insert" parameterType="Menu">
  		INSERT INTO t_menu (
  			name,menu_url,icon,
  			<if test="pid != null">pid,</if>
  			<if test="show != null">`show`,</if>
  			<if test="viewOrder != null">view_order,</if>
  			add_user,add_date
  		)VALUES(
  			#{name},#{menuUrl},#{icon},
  			<if test="pid != null">#{pid},</if>
  			<if test="show != null">#{show},</if>
  			<if test="viewOrder != null">#{viewOrder},</if>
  			#{addUser},now()
  		)
  	</insert>
  	
  	<update id="updateById" parameterType="Menu">
  		UPDATE t_menu 
  		SET name = #{name}, icon = #{icon}, menu_url = #{menuUrl}, view_order = #{viewOrder},
  			remark = #{remark}, `show` = #{show}
  		WHERE id = #{id}
  	</update>
  
  </mapper>